#header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.button{
  background-color: #08f667;
}

.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  padding-right: 2px;
}

.delete{
  background-color: red;
  padding-right: 10px;
  margin-right: 2px;
}

.sort{
  background-color: green;
  margin-right: 2px;
}

.clear{
  background-color: red;
}